.app-header {

    button {
        margin: 0 16px;
    }

    //Estilização do botão de LOGIN
    .mat-mdc-outlined-button:not(:disabled) {
        border-color: white;
    }

    .spacer {
        flex: 1 1 auto;
    }

    //Colorindo a Toolbar
    .mat-toolbar {
        background-color: black;
        color: white;
        padding: 0 150px;
    }
}