<!-- Esse sera o nosso banner da pagina -->
<app-banner src="assets/imagens/banner-homepage.png" alt="Banner Jornada Milhas">
</app-banner>

<!-- <app-container>
    <h1>Graças ao router-outlet podemos chamar o componente 'container' aqui dentro do componente da 'home'</h1>
</app-container> -->

<!-- precisei chamar o componente aqui para que ele aparecesse na pagina -->
<app-container>
    <div class="form-busca">
        <app-form-busca></app-form-busca>
    </div>
    <h2>Promoções</h2>
    <div class="card-wrapper">
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-depoimento">
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
    </div>
</app-container>

<app-banner-rodape>
</app-banner-rodape>

<app-footer class="footer">
</app-footer>
